.block-2{
    border-top: 2px solid rgb(151, 144, 144);
    border-bottom: 2px solid rgb(151, 144, 144);
    padding-top: 30px;
    padding-bottom: 30px;
}
.h1{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    padding-bottom: 20px;
}
.cont{
    display: flex;
    justify-content: center;
}
.block-2-col{
    width: 90%;
    background-color: white;
    margin: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.avatar{
    width: 90%;
    height: 80%;
    padding-top: 15px;
}
.avatar-img{
    height: 100%;
}

