@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(./header.css);
@import url(./firstblock.css);
@import url(./footer.css);
@import url(./thirdblock.css);
@import url(./secondblock.css);

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.main{
    background-color: rgb(228, 222, 222);
}
@media (min-width: 576px) {
    .container {
        width: 546px;
    }
    .main{
        width: 560px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
        width: 738px;
    }
    .main{
        width:752px ;
    }
  }
  
  @media (min-width: 992px) {
    .container {
        width: 962px;
    }
    .main{
        width: 976px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .main{
        width: 1184px;
    }
  }
  